<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @entry.text %>
</p>

<p>
  <b>Date:</b>
  <%= @entry.date %>
</p>

<p>
  <b>Topic:</b>
  <%= @entry.topic %>
</p>

<p>
  <b>Tags:</b>
  <%= @entry.tags %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
